@import url("https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
}
/*Estilos para el encabezado*/
.header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
.header .container {
  margin-left: 230px;
}
.container .btn-menu,
.logo {
  float: left;
  line-height: 100px;
}
.container .btn-menu label {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}
.redes {
  margin-top: 15px;
  width: 55px;
  height: 55px;
  object-fit: cover;
}

.redess {
  width: 75px;
  height: 50px;
}

.logo {
  font-size: 22px;
  margin-left: 10px;
  margin-top: 5px;
  width: 300px;
  height: 100px;
}
.container .menu {
  right: 0;
  float: right;
  line-height: 100px;
  margin-right: -400px;
}
.container .menu a {
  display: inline-block;
  padding: 15px;
  line-height: normal;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
  font-size: 15px;
  margin-right: 5px;
}
.container .menu a:hover {
  border-bottom: 2px solid #c7c7c7;
  padding-bottom: 5px;
}
/*Fin de Estilos para el encabezado*/

/*Menu lateral*/
.menu-lateral {
  position: fixed;
  top: 0;
  left: 0;
  width: 230px;
  height: 100vh;
  background: #1c1c1c;
  padding-top: 120px;
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  z-index: 10;
}

.menu-lateral nav a {
  font-size: 20px;
  display: block;
  padding: 45px 25px;
  color: #c7c7c7;
  text-decoration: none;
  transition: 0.3s;
  border-left: 5px solid transparent;
}

.menu-lateral nav a:hover {
  border-left: 5px solid #fff;
  background: #1f1f1f;
}

/*Fin  menu lateral*/

/***********************************FOOTER***********************************/
footer img {
  width: 50px;
}

footer {
  z-index: 1;
  margin-top: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #5a5757;
  color: white;
  text-align: center;
  padding: 7px 0;
  font-size: 14px;
}

.youtube {
  margin-bottom: 2px;
  width: 60px;
}

.x {
  width: 70px;
  margin-bottom: 5px;
  margin-left: -10px;
}
/*flecha footer*/
.improvisto {
  width: 20px;
}
