body {
  background-image: url(imagenes/1920_gamestop.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.capa {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  top: 0;
  left: 0;
}

/* PRINCIPAL */
.contenido-principal {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 50px;
  margin-left: 230px;
}

.grid-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 30px;
  width: 90%;
  max-width: 1100px;
}

/*primer bloke  grid-column hasi lehenengo zutabe, amaitu lehenengo zutabe*/
.grid-info .bloque:first-child {
  grid-column: 1 / -1;
  padding: 40px;
  font-size: 1.2em;
}

.bloque {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 30px;
  color: #fff;
  text-align: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, background 0.3s ease;
}

.bloque:hover {
  transform: translateY(-8px);
  background: rgba(255, 255, 255, 0.2);
}

.bloque h2 {
  margin-bottom: 15px;
  font-size: 1.4em;
  color: #fff;
  letter-spacing: 1px;
}

.bloque p {
  font-size: 1em;
  line-height: 1.5;
  color: #ddd;
}
.bloque a {
color: white;
}
.bloque-link {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}